
<div class="jumbotron">
  <h1 class="display-4">  
  <strong>Orders
  </strong>
</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sr. #</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">SubTotal</th>
    </tr>
  </thead>
  <%@no = 1%>
  <% @line_items.each do |line_item| %>
  <tbody>
    <tr>
      <td><%= @no %></td> 
      <td><%= link_to "#{line_item.item.title}", line_item.item, style: "text-decoration: none;"%></td> 
      <td><%= line_item.quantity %></td>
      <td><%= line_item.item.price %></td>
      <td><%= line_item.item.price * line_item.quantity%>
    </tr>
  </tbody>
  <%@no += 1%>
  <%end%>
</table>
<p class="display-6"><strong>Total: </strong><%= @order.total%></p>
<p class="display-6"><strong>Total: </strong><%= @order.total%></p>
<%= link_to 'Back', orders_path, class:"btn btn-outline-dark" %>
