<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">  
  <strong>
  <%= @category.name %>
  </strong>
</h1>
  <p class="lead">
  <%= @item.description %>
  </p>
  <hr class="my-4">
    <%= image_tag @item.avatar, draggable: "true", id: "drag1"%>
  <p>
  <strong>Only for:</strong>
  <%= @item.price %> PKR 
  </p>
  <div class="btn-group" role="group">
    <%if policy(@item).edit?%>
      <%= link_to 'Edit', edit_item_path(@item), class:"btn btn-secondary btn-sm" %>
    <%end%>  
      <%= link_to 'More items', items_path, class: "btn btn-secondary btn-sm", role: "button" %>
  </div>
      <%= link_to 'Add to Cart', new_user_session_path, class: "btn btn-primary btn-lg", role: "button" %>
  </div>
</div>

<style>
#drag1 {
  margin-bottom: 10px;
  height: 230px;
  width: 320px; 
}
</style>

